# Pandas workflow

- get data from .csv's  
- concatenate data from multiple .csv's into single data frame  
- calculate statistics of this data using .groupby()

In [49]:
import pandas as pd
import numpy as np

import os
import csv

In [50]:
# create test data

maxtrials = 10
nsubjects = 15
ntrials = np.random.randint(1, high=maxtrials+1, size=nsubjects)
total_trials = np.sum(ntrials)
scores = 100 + 15 * np.random.randn(total_trials)
response_times = np.random.exponential(size=total_trials)
accuracies = np.random.binomial(1, 0.7, size=total_trials)

In [24]:
# create test .csv's with the above dummy data

ind = 0
for s in range(nsubjects): # note: the first subject will be subject 0, not 1
    with open('test'+str(s)+'.csv', 'w') as f:
        w = csv.writer(f)
        for t in range(ntrials[s]):
            w.writerow(["trial"+str(t), response_times[ind], accuracies[ind]])
            ind += 1

In [47]:
# check to see the .csv's were created properly in current directory
os.listdir()

['.DS_Store',
 'test.csv',
 '__pycache__',
 'raglm',
 'pandas-example.ipynb',
 'test8.csv',
 'test9.csv',
 'test4.csv',
 'test5.csv',
 'reading-anatomy-exploration-2.ipynb',
 'test7.csv',
 'test6.csv',
 'cuda.py',
 'utils.py',
 'test2.csv',
 'test3.csv',
 'test1.csv',
 'test0.csv',
 '.ipynb_checkpoints',
 'test14.csv',
 'data',
 'test11.csv',
 'test10.csv',
 'data.tar.gz',
 'test12.csv',
 'test13.csv']

In [29]:
# read in one .csv using pandas

df = pd.read_csv('test0.csv', header=None)

In [30]:
df

        0         1  2
0  trial0  0.199391  0
1  trial1  1.687833  1
2  trial2  1.798091  0
3  trial3  0.994664  1
4  trial4  0.779434  0
5  trial5  1.212192  1

In [45]:
# now read in all .csv's

csv_names = ['test' + str(i) + '.csv' for i in range(nsubjects)]
df = pd.DataFrame() # create new, empty dataframe

for filename in csv_names:
    df_temp = pd.read_csv(filename, header=None)
    nrows = len(df_temp.index)
    df_temp['ID'] = [filename] * nrows  # note: subject name might not equal file name in pratice
    df = pd.concat([df, df_temp])

In [46]:
df

         0         1  2          ID
0   trial0  0.199391  0   test0.csv
1   trial1  1.687833  1   test0.csv
2   trial2  1.798091  0   test0.csv
3   trial3  0.994664  1   test0.csv
4   trial4  0.779434  0   test0.csv
..     ...       ... ..         ...
2   trial2  1.036314  1  test13.csv
3   trial3  0.191233  0  test13.csv
0   trial0  0.428396  1  test14.csv
1   trial1  0.081319  0  test14.csv
2   trial2  0.371425  1  test14.csv

[85 rows x 4 columns]

In [48]:
# get summary statistics using pandas "groupby" feature

df.groupby(['ID']).mean()

                   1         2
ID
test0.csv   1.111934  0.500000
test1.csv   0.559461  0.714286
test10.csv  0.280104  0.333333
test11.csv  1.052386  0.666667
test12.csv  1.063018  0.500000
test13.csv  0.654008  0.750000
test14.csv  0.293713  0.666667
test2.csv   0.927297  0.375000
test3.csv   0.522467  0.700000
test4.csv   1.104797  0.714286
test5.csv   1.137403  1.000000
test6.csv   1.378889  0.700000
test7.csv   0.473320  0.500000
test8.csv   1.071078  0.500000
test9.csv   1.689934  0.833333